@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";
.inconsolata {
  font-family: "Inconsolata", serif;
  font-style: normal;
  font-optical-sizing: auto;
}
.dm-sans {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: content-box !important;
}
body {
  overflow-y: visible;
  overflow-x: hidden !important;
}