body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  place-content: center;
  place-items: center;
  background-color: darkslategray;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: slategray;
}
* {
  color: white !important;
  font-size: 1.5rem;
}

#root {
  position: relative;
  width: inherit;
  height: 800px;
  display: inherit;
  text-align: center;
  flex-direction: inherit;
  justify-content: center;
  align-items: inherit;
  text-align: center;
  color: inherit;
}
